/* Reset */

*, 
*::before, 
*::after {
    box-sizing: border-box;
}

ul[class] {
    padding: 0;
    list-style: none;
}

body {
    line-height: 1.5;
}

body, 
h1, h2, h3, h4, 
p, 
ul[class], li {
    margin: 0;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* Our Style */

:root {
    color-scheme: dark;

    --main-bg-value: 30;
    --main-fg-value: 230;
    --bg-darker-value: calc(var(--main-bg-value) * 0.5);
    --bg-faded-value: calc((var(--main-bg-value) * (4/5)) + (var(--main-fg-value) * (1/5)));
    --fg-faded-value: calc((var(--main-fg-value) * (2/3)) + (var(--main-bg-value) * (1/3)));
    --main-bg-color: rgb(var(--main-bg-value), var(--main-bg-value), var(--main-bg-value));
    --main-fg-color: rgb(var(--main-fg-value), var(--main-fg-value), var(--main-fg-value));
    --bg-faded-color: rgb(var(--bg-faded-value), var(--bg-faded-value), var(--bg-faded-value));
    --fg-faded-color: rgb(var(--fg-faded-value), var(--fg-faded-value), var(--fg-faded-value));
    --bg-darker-color: rgb(var(--bg-darker-value), var(--bg-darker-value), var(--bg-darker-value));

    --spacing-xs: calc(var(--spacing-sm) * 0.5);;
    --spacing-sm: 0.5rem;
    --spacing-md: calc(var(--spacing-sm) * 2);
    --spacing-lg: calc(var(--spacing-sm) * 4);
}

body {
    overflow: hidden;
    user-select: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
}

#main-grid {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-template-rows: auto 1fr auto;
    row-gap: var(--spacing-md);
    column-gap: var(--spacing-md);
    padding: var(--spacing-md);
}

#select-folders {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

#refresh-folders {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    width: fit-content;
    justify-self: end;
}

#add-folders {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 5;
    width: fit-content;
    justify-self: end;
}

#folder-list-container {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5;
    display: grid;
    grid-template-columns: max-content minmax(min-content, max-content) auto max-content max-content max-content;
    row-gap: var(--spacing-sm);
    column-gap: var(--spacing-sm);
    align-items: start;

    overflow-y: auto;
    margin-right: calc(-1 * var(--spacing-md));
    padding-right: var(--spacing-md);
    grid-auto-rows: min-content;
}
#folder-list-container > div.folder-list-header,
#folder-list-container > ul.folder-list,
#folder-list-container > ul.folder-list > li {
    display: contents;
}

#folder-list-container > div.folder-list-header > div {
    position: sticky;
    top:0;
    padding-bottom: var(--spacing-sm);
    margin-bottom: calc(var(--spacing-sm) * -1);
    background-color: var(--main-bg-color);
}

#folder-list-container > div.folder-list-header > div.hr {
    top:2rem;
    padding-bottom:0;
    margin-bottom: 0;
}

#folder-list-container > div.folder-list-header > div.spacing {
    grid-column: span 3;
    height: 2rem;
}

#folder-list-container > div.folder-list-header > div.master-checkbox {
    height: 2rem;
}


#folder-list-container > div.folder-list-header > div:last-child {
    grid-column-start: 1;
    grid-column-end: 7;
} 

#folder-list-container > div.folder-list-header > div:last-child > hr {
    margin:0;
    border: 0;
    border-bottom: 2px var(--bg-faded-color) solid;
}

#folder-list-container > div.folder-list-header > div:nth-child(2),
#folder-list-container > ul.folder-list > li > div:nth-child(2) {
    padding-right: var(--spacing-md);
}

#folder-list-container > div.folder-list-header > div > input[type="checkbox"],
#folder-list-container > ul.folder-list > li > div > input[type="checkbox"]
{
    margin-top: 0.4rem;
}

span.symbol {
    vertical-align: bottom;
    margin-bottom: -0.05rem;
    display: inline-block;
}

.QuickDrawWindows span.symbol::after {
    font-family: 'Segoe Fluent Icons', 'Segoe MDL2 Assets';
}

.QuickDrawWindows span.symbol.refresh::after    { content: '\E72C'; }
.QuickDrawWindows span.symbol.add::after        { content: '\E710'; }
.QuickDrawWindows span.symbol.folder::after     { content: '\E838'; }
.QuickDrawWindows span.symbol.delete::after     { content: '\E74D'; }
.QuickDrawWindows span.symbol.play::after       { content: '\E768'; }
.QuickDrawWindows span.symbol.pause::after      { content: '\E769'; }
.QuickDrawWindows span.symbol.grayscale::after  { content: '\F570'; }
.QuickDrawWindows span.symbol.previous::after   { content: '\E892'; }
.QuickDrawWindows span.symbol.next::after       { content: '\E893'; }
.QuickDrawWindows span.symbol.stop::after       { content: '\E71A'; }


button:hover {
    border: 2px solid var(--fg-faded-color);

}

button {
    border: 2px solid var(--bg-faded-color);
    border-radius: 0;
    color: var(--main-fg-color);
}

#main-grid button {
    background-color: var(--bg-faded-color);
}

input[type="checkbox"]:hover {
    border: 2px solid var(--fg-faded-color);

}

input[type="checkbox"] {
    border: 2px solid var(--bg-faded-color);
    border-radius: 0;
    background-color: var(--bg-faded-color);
    color: var(--main-fg-color);
}

#folder-list-container > ul.folder-list > li.empty {
    display: none;
}

#folder-list-container > ul.folder-list > li.empty:only-of-type {
    display: block;
    grid-column: span 5;
}

#footer {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column: span 4;
    display: flex;
    gap: var(--spacing-xs);
}

#footer > .time-item > input {
    margin-top: 0.4rem;
}

#footer > .time-item > label {
    margin-left: calc(-1 * var(--spacing-sm));
    padding-left: var(--spacing-sm);
}

#start {
    margin-left: auto;
}



/* -----------------------
    SLIDESHOW
   ---------------------*/

#slideshow {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0);
    /*backdrop-filter: blur(0px);*/
    /* transition-property: background-color, backdrop-filter, visibility; */
    /* transition-duration: 1s; */
    /* transition-delay: 1s; */
    visibility: hidden;
    user-select: none;
}

#slideshow.visible {
    background-color: var(--bg-darker-color);
    /*backdrop-filter: blur(20px);*/
    /* transition-property: background-color, backdrop-filter, visibility; */
    /* transition-duration: 1s; */
    /* transition-delay: 0s; */
    visibility: visible;
}

#slideshow-image {
    object-fit: contain;
    width: 100%;
    height: 100%;
    opacity: 0;
    /* transition-property: opacity; */
    /* transition-duration: 1s; */
    /* transition-delay: 0s; */
}

#slideshow-image.grayscale {
    filter: grayscale(1.0);
}

#slideshow.visible > #slideshow-image.visible {
    opacity: 1;
    cursor: pointer;
    /* transition-property: opacity; */
    /* transition-duration: 1s; */
    /* transition-delay: 1s; */
}

#slideshow.visible > #topbar {
    opacity: 1;
    /* transition-property: opacity; */
    /* transition-duration: 1s; */
    /* transition-delay: 1s; */
}

#topbar {
    position:fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px 15px;
    opacity: 0;
    /* transition-property: opacity; */
    /* transition-duration: 1s; */
    /* transition-delay: 0s; */
}

#topbar > div.left {
    display: flex;
    justify-content: flex-start;
}

#topbar > div.left > button{
    margin-right: 5px;
}

#topbar > div.right {
    display: flex;
    justify-content: flex-end;
}

#topbar > div.right > button {
    margin-left: 5px;
}

#topbar > div.center {
    display: flex;
    justify-content: center;
    align-content: center;
}

#topbar button {
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    color: #ddd;
    border: 2px solid var;
    padding: var(--spacing-xs);
    font-size: 0.9em;
    vertical-align: top;
}

#topbar button:disabled {
    display: none;
}

#topbar #slideshow-progress-bar {
    background-color: #eee;
    height: 3px;
    max-width: 200px;
    width: 80%;
    border-radius: 2px;
    border-width: 0px;
    padding: 1px;
}

#topbar #slideshow-progress {
    background-color: grey;
    height: 3px;
    margin: 0px;
    border-radius: 1px;
    border-width: 0px;
}